h1{

  font-size: 50px;
}
P {
  color : #red;
  font-size: 25px;

}
img {
  width: 95%;
}
body{
  background-color: #f6f0cc;
  text-align: center;
}
.selected {

  width:95%;
  margin-bottom: 100px;
}
