h1{

  font-size: 50px;
}
P {
  color : #111bd4;
  font-size: 25px;

}
img {
  width: 650px;
}
body{
  background-color: #f6f0cc;
  text-align: center;
}
.selected {

  width:95%;
  text-align: center;
  
  margin-bottom: 35px;
}
